New/Connected Services/ServiceReference2/wcf_service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Blood" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Blood" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="DietPlan_Id" type="xs:int" />
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserClass" nillable="true" type="tns:UserClass" />
</xs:schema>